{% set ciudadSeleccionada = app.request.attributes.get('ciudad', ciudad_por_defecto)  %}
{# app/Resources/views/frontend.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
    <header>
        <h1><a href="{{ path('portada') }}">CUPON</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('portada') }}">Oferta del día</a></li>
                <li><a href="#">Ofertas recientes</a></li>
                <li><a href="#">Mis ofertas</a></li>
                <li>{{ render(controller('AppBundle:Ciudad:listaCiudades', {
                        ciudad: ciudadSeleccionada
                    })) }}</li>
            </ul>
        </nav>
    </header>

    <article>
        {% block article %}{% endblock %}
    </article>
    <aside>
        {% block aside %}
            {{ parent() }}
            <section id="relacionadas">
                <h2>Ofertas en otras ciudades</h2>
                <ul>
                    {% for oferta in relacionadas %}
                        <li>{{ oferta.ciudad.nombre }}: <a href="{{ path('oferta', { ciudad: oferta.ciudad.slug, slug: oferta.slug }) }}">{{ oferta.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {% endblock %}
    </aside>
{% endblock %}
